<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>930621591853-f0h905j72hild2e5clg76qdkva276atc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.930621591853-f0h905j72hild2e5clg76qdkva276atc</string>
	<key>API_KEY</key>
	<string>AIzaSyD7B3jey_zICDr_WLifVyz89BgBClHBu4s</string>
	<key>GCM_SENDER_ID</key>
	<string>930621591853</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yourcompany.memechat</string>
	<key>PROJECT_ID</key>
	<string>memechat-emshack-efortuna</string>
	<key>STORAGE_BUCKET</key>
	<string>memechat-emshack-efortuna.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:930621591853:ios:dd2d837726498b85</string>
	<key>DATABASE_URL</key>
	<string>https://memechat-emshack-efortuna.firebaseio.com</string>
</dict>
</plist>